SEND_SYSLOG="YES"
DEFAULT_RECIPIENT_SYSLOG="netdata"

SEND_EMAIL="YES"
DEFAULT_RECIPIENT_EMAIL="SEND_EMAIL="YES"
DEFAULT_RECIPIENT_EMAIL="andrey.makarov@dataart.com pavel.khrulev@dataart.com makinkugbe@thgrp.com igor.blinov@dataart.com|critical"


SEND_MSTEAMS="YES"
MSTEAMS_WEBHOOK_URL="https://dataartcom.webhook.office.com/webhookb2/399b8657-3028-4975-a1e8-62391c57ed97@e26666fd-a875-4064-b4ca-775ea917529a/IncomingWebhook/CHANNEL/2b91de59-82e2-4e79-8c5c-d52b41085536"
DEFAULT_RECIPIENT_MSTEAMS="1beba40700c649b1b4c89b1b87a7c091"
MSTEAMS_ICON_DEFAULT="♡"
MSTEAMS_ICON_CLEAR="💚"
MSTEAMS_ICON_WARNING="⚠️"
MSTEAMS_ICON_CRITICAL="🔥"
MSTEAMS_COLOR_DEFAULT="0076D7"
MSTEAMS_COLOR_CLEAR="65A677"
MSTEAMS_COLOR_WARNING="FFA500"
MSTEAMS_COLOR_CRITICAL="D93F3C"
